.contactContentTop {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;

  @include atSmall {
    text-align: left;
  }

  @include atSmall {
    width: 652px
  }


  @include atMedium{
    width: 956px;
  }


  @include atLarge {
    width: 1170px;
  }

  &--rectangle {
    width: 165px;
    height: 165px;
    background-color: #D8D8D8;
    margin-left: auto;
    margin-right: auto;

    @include atSmall {
      float: left;
      margin-right: 30px;
    }
  }

  span {
    display: block;
    font-size: 16px;
    font-weight: bold;

    @include atMedium {
      margin-top: 10px;
    }

  }

  p {
    font-size: 12px;

    @include atMedium {
      margin-right: 28px;
      float: left;
    }

    @include atLarge {
      margin-right: 100px;
      float: left;
    }
  }

  &--wrapper {

    @include atSmall {
      width: 710px;
    }

    @include atMedium {
      width: 860px;
      margin-top: 100px;
    }

    @include atLarge {
      width: 1170px;
    }

  }

  &--button-copy-link {
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    box-shadow: 1px 2px 0 #335801;
    background-color: #67B600;
    height: 30px;
    width: 120px;
    color: #FDFDFD;
    font-family: Helvetica;
    border: none;

    @include atSmall {
      position: static;
      margin: -25px 57px 0 0;
      float: right;

    }

    @include atMedium {
      margin: 20px -52px 0 0;
      float: right;
    }

    @include atLarge {
      margin: 20px 30px 0 0;

    }
  }

  &__horizontal-line {
    clear: both;
    height: 3px;
    border: 0;
    border-top: 1px solid #417505;

    @include atSmall {
      width: 460px;
      display: block;
      padding: 0;
      margin: -5px 0 0 195px;
    }

    @include atMedium {
      width: 720px;
    }

    @include atLarge {
      width: 947px;
    }

  }

}