.main-header {
  width: 100%;
  height: 4.59%;
  background-color: #F5F5F5;

  &__logo {
    position: relative;
    left: 10%;
    margin: 10px;

    //@include atLarge{
    //  margin-left: 185px;
    //}
  }
}