.individualAdvert {
  //border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-family: Helvetica;
  height: 250px;
  width: 250px;


  @include atSmall {
    margin-left: 230px;
    height: 114px;
    width: 420px;
  }


  @include atMedium {
    margin-left: 286.90px;
    width: 655px;
  }

  &__image {

    @include atSmall{
      float: left;
    }

    @include atMedium{
      margin-right: 20px;
    }

  }

  &--move-l {
    float: left;


    span {
      display: block;
    }

    @include atSmall{
      margin-left: 10px;
    }

    @include atMedium{
      margin-left: 0px;
    }

  }

  &--move-to-bottom {
    padding-top: 30px;
  }

  &__left {


    &-b {
      @include atSmall {

      }

      @include atMedium {
        float: left;
        margin-left: 0;
        margin-top: 50px;
      }
    }
  }

  &__right {
    float: right;

    &-b {
      margin-top: 15px;

      @include atMedium {
        margin-top: 35px;
      }
    }
  }

  &--move-t {

    @include atMedium {
      margin-top: -35px;
    }

  }

  ul {
    @include atMedium {
      margin-right: -75px;
    }

  }

  li {
    display: inline;
    margin: 0 40px 0 0;
    @include atMedium {
      margin: 0 0 0 70px;

    }

  }

  &--move-b {
    margin-top: 30px;

  }

  &__button__remember {
    padding-right: 30px;
    font-family: Helvetica;
    font-size: 10px;
    line-height: 12px;



    button{
      height: 30px;
      width: 82.38px;
      border-radius: 5px;
      background-color: #DDDDDD;
    }
  }


  &--small-text{

    font-size: 10px;
    padding: 3px 0 0 5px;
  }


  &__button__heart_icon{

    padding: 0 5px 0 0 ;
    font-size: 20px;
    color: #898989;

  }
}