.mainAdvertsContent {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;

  @include atSmall {
    width: 652px
  }


  @include atMedium{
    width: 956px;
  }


  @include atLarge {
    width: 1170px;
  }

  .nav-menu {

    display: table;
    margin: 0 auto;


    @include atSmall {
      margin: 0 20px 0 -40px;
      float: left;

    }
  }

  &--header {
   margin: 20px;

    text-align: center;

    @include atSmall {
      float: left;
      margin: 10px 0 0 0;
    }

  }


  &__filter {
    background-color: #F0F0F0;
    height: 60px;
    border-radius: 5px;

    li {
      display: inline;
    }

    @include atSmall {
      margin: 60px 0 0 230px;

      width: 420px;
    }

    @include atMedium {
      margin: 60px 0 0 286.90px;
    }

    @include atMedium {
      height: 60px;
      width: 655px;
    }

  }

  &--description-margin {

    margin-left: -40px;

    li {
      margin: 0px 8px 0 0px;

    }

    @include atSmall {
      float: left;
      margin-left: 0;
      margin-top: 10px;
      li {
        margin: 0px 0px 0 10px;
      }

    }

    @include atMedium {
      float: right;
      margin-right: 33px;


      li {
        margin: 0 20px 0 0;
      }
    }

  }


  &__dropDown {

   text-align: center;


    @include atSmall{
      margin-right: -50px;
    }

    select {
      border-radius: 5px;
    }

    @include atSmall {
      float: left;
    }

    @include atSmall {
      select {
        margin: 15px;
        height: 30px;
        width: 125px;
      }
    }

    @include atMedium {
      select {
        margin: 15px;
        height: 30px;
        width: 167px;
      }
    }

  }

}


