.nav-menu {



  text-align: left;

  a {
    margin: 0 0 0 20px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
  }


  li {
    padding-top: 10px;
    height: 40px;
    width: 170px;
    background-color: #D6D6D6;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-right: 40px;

    @include atSmall{
      width: 210px;
      margin-right: 0;
    }


    @include atMedium {
      width: 266.94px;
    }

  }

  &__selected {

    background-color: #67B600 !important;

    a {
      color: white;
    }

  }

}


