@mixin atSmall {
  @media (min-width: 652px) {
    @content;
  }
}

@mixin atMedium{
  @media (min-width: 956px) {
    @content;
  }
}

@mixin atLarge{
  @media (min-width: 1170px) {
    @content;
  }
}


@mixin clearfix{
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}